.container {
	text-align: center;
	font-size: 40px;
	font-style: bold;
	position: fixed;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

#startBtn {
	font-size: 30px;
	width: 200px;
	height: 100px;
	margin: auto;
}

.score {
	text-align: center;
	font-size: 50px;
	position: fixed;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	background-image: url(../images/catHead.jpeg);
	background-size: 100%;
	color: pink;
} 

body{
	background-image: url(../images/background.jpg);
}